.custom-container{
    background-color: #f7e2e2;
}

.custom-card-form{
    background-color: #f3f7f8 ;
    box-shadow: 0px 3px 8px rgba(79, 79, 80, 0.9); /* Shadow with horizontal offset, vertical offset, blur radius, and color */
    border-radius: 8px; /* Optional: Adds rounded corners */
    padding: 20px;
}

.custom-navbar{
    border-bottom: 2px solid black;
    font-weight: bold;
}

.custom-buttons-navbar{
    font-weight: bold;
}

.custom-buttons-navbar:hover {
    background-color: rgb(144, 205, 233); 
    color: black; 
    border-color: rgb(144, 205, 233); 
  }

.custom-h1-start-page{
    color: black; /* Text color */
  font-size: 3rem; /* Font size */
  font-weight: bold; /* Bold text */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.custom-text-start-page{

    font-size: 1.1rem; /* Font size */
    font-weight: bold;
}

.custom-container-start-page{
    margin-top: 30px; /* Changed from dp to px */
    padding-bottom: 20px;
    padding-top: 20px;
    width: 50%; /* Set width to 50% of the viewport or another value */
    text-align: center;
    background-color: blue;
}